#wrapper {
  width: 95%;
  height: 95%;
  border: 1px solid #000;
  position: absolute;
}

#bubbles {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
}

.panel {
  position: relative;
}



